<div class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s32"  style="color:white;"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s32 separator"  style="color:white;"></md-icon>
                <span class="parent" style="color:white;"> <h3>Administracion de usuarios</h3></span>
            </div>
            <div class="title">Mis Participaciones</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="card md-whiteframe-4dp" layout="column">
            <table class="table table-responsive table-hover dataTable" datatable="ng" dt-options="dtOptions">
                <thead>
                <tr>
                    <th>#</i></th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>E-mail</th>
                    <th>Telefono</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tipo in vm.lista">
                    <td>{{$index + 1}}</td>
                    <td>{{tipo.nombres}}</td>
                    <td>{{tipo.apellidos}}</td>
                    <td>{{tipo.email}}</td>
                    <td>{{tipo.telefono}}</td>
                    <td>{{tipo.nombre_rol}}</td>
                    <td>
                      <md-icon md-font-icon="icon-check-bookmark"
                               class="s32"
                               ng-if="tipo.estado=='on'"
                               style="color:green;"
                               title="Activo"></md-icon>

                      <md-icon md-font-icon="icon-close-circle"
                               class="s32"
                               ng-if="tipo.estado=='off'"
                               style="color:red;"
                               title="Cancelada"></md-icon>
                    </td>
                    <td>
                      <md-button class="md-raised md-warn"
                                 ng-if="tipo.estado=='on'"
                                 ng-click="vm.OnOffUsuarios(tipo)">Desactivar</md-button>
                      <md-button class="md-raised "
                                 style="color:green;" ng-if="tipo.estado=='off'"
                                 ng-click="vm.OnOffUsuarios(tipo)">Activar</md-button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
