<div class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row"  style="color:white;"layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s32" style="color:white;"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" style="color:white;" class="s32 separator"></md-icon>
                <span class="parent" style="color:white;"><h2>Mis Reuniones</h2></span>
            </div>
            <div class="title">Mis Eventos Creados</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="card md-whiteframe-4dp" layout="column">

            <table class="table table-responsive table-hover dataTable "
                   datatable="ng" dt-options="vm.dtOptions">
                <thead>
                <tr>
                    <th>#</i></th>
                    <th>Asunto</th>
                    <th>Estado</th>
                    <th style="width: 20%;">Descripcion</th>
                    <th>Lugar</th>
                    <th>Fecha</th>
                    <th>Hora Inicial</th>
                    <th>Hora Final</th>
                    <th>Prioridad</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tipo in vm.lista">
                    <td>{{$index + 1}}</td>
                    <td>
                        <strong> {{tipo.asunto}}</strong>
                    </td>
                    <td>
                        <md-icon md-font-icon="icon-close-circle"
                                 class="s32"
                                 ng-if="tipo.estado=='Cancelada'"
                                 style="color:red;"
                                 title="Cancelada"></md-icon>
                        <md-icon md-font-icon="icon-clock"
                                 class="s32" style="color:darkslategray;"
                                 ng-if="tipo.estado=='En proceso'"
                                 title="En proceso"></md-icon>
                        <md-icon md-font-icon="icon-library-books"
                                 class="s32" style="color:cornflowerblue;"
                                 ng-if="tipo.estado=='Programada'"
                                 title="Programada">

                        </md-icon>
                    </td>
                    <td>{{tipo.descripcion}}</td>
                    <td>{{tipo.lugar}}</td>
                    <td>{{tipo.fecha | date}}</td>
                    <td>{{tipo.hora_inicial| date}}</td>
                    <td>{{tipo.hora_final| date}}</td>
                    <td>
                        <md-icon md-font-icon="icon-arrow-up-bold-circle"
                                 class="s32"
                                 ng-if="tipo.prioridad=='alta'"
                                 style="color:red;"
                                 title="Alta"></md-icon>
                        <md-icon md-font-icon="icon-arrow-down-bold-circle"
                                 class="s32" style="color:darkslategray;"
                                 ng-if="tipo.prioridad!='alta'"
                                 title="Baja"></md-icon>

                       </td>
                    <td>
                        <md-button class="md-raised md-warn"
                                   ng-if="tipo.estado!='Cancelada'"
                                   ng-click="vm.UpdateEstado(tipo)">Cancelar
                        </md-button>
                        <md-button ng-disabled="true"
                                   class="md-raised md-primary"
                                   ng-if="tipo.estado=='Cancelada'"
                                   ng-if="tipo.estado!='Cancelada'">Cancelada</md-button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
